*{
    margin:0;
    padding:0;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;

}
.main_box{
    background:url(photo.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;  
}
.btn_one{
    font-size:30px;
    font-weight:700px;
    position:absolute;
    left:16px;
    line-height:60px;

}
.sidebar_menu{
    position:fixed;
    left:-400px;
    height:100%;
    width:300px;
    background-color: rgba(250, 250, 250, 0.1);
    box-shadow:0 2px 10px rgba(250, 250, 250, 0.5);
}
.sidebar_menu .logo{
    position:absolute;
    width:300px;
    line-height:60px;
     box-shadow:0 0 10px rgba(250, 250, 250, 0.3);
     height:60px;
}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    text-decoration:none;
    font-size:24px;
    font-weight:500px;
    color:aliceblue;

}
.sidebar_menu .btn_two{
    position:absolute;
    left:275px;
    font-size:20px;
    color:aqua;
    line-height: 60px;
     /* opacity:0; */
}
.sidebar_menu .menu{
    position:absolute;
    top:100px;
    width:100%;
}
.sidebar_menu .menu li{
    margin-top:6px;
    padding:15px 30px ;
    font-size:20px;
}
.sidebar_menu .menu li i,a {
     color:azure;
    text-decoration:none;

}
.sidebar_menu .menu i{
    padding-right:15px;
    
}
.sidebar_menu .social_media{
    position:absolute;
    top:670px;
    left:15px;
}
.sidebar_menu .social_media a{
    padding:15px;
    font-size:30px;
    color:black;
    opacity:0.5;
}
#check{
    display:none;
}

.sidebar_menu .menu li:hover{
box-shadow:0 0 10px rgba(250, 250, 250, 0.5);
    transition:0.5s;
    
}
.btn_one i:hover{
    font-size:40px;
    transition:0.3s;
}
.btn_two i:hover{
    font-size:25px;
    cursor:pointer;
    transition:0.3s;
}
.social_media a:hover{
    opacity:1;
    transform: scale(1.1);
    font-size:35px;
    transition:0.5s;
}
#check:checked ~ .sidebar_menu{
    left:0px;
    transition:0.5s
    

}
#check:checked ~ .btn_one{
    opacity:0;
}
#check:checked ~ .sidebar_menu .btn_two{
    opacity:1;
}

    




  



